<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Greetings</h3>
    <p>
      This robot response is just to let you know your email was successfully sent. The human will repsond shortly.<br>
    </p>
    <p>Cheers!</p>
  </body>
</html>