<div class="ribbon1"></div>
<div class="ribbon2"></div>
<div class="ribbon3"></div>
<div class="right-box">
	<div class="ribbon1-right"></div>
	<div class="ribbon2-right"></div>
	<div class="ribbon3-right"></div>
	<div class="made-by-right"></div>
</div>
<div class="body-container">
	<div class="notice-container"><h4 id="notice"></h4></div>
	<div class="row">
		<div class="main-content">

			<h1 class="heading-text about-me-text">About Me</h1>
			<div class="main-content-sub">
				<div class="about-me-style">
				<p>Too many ideas came and went. Notebooks became full and illegible. Sticky notes lost their stick and were gone forever. Several phones full of self-proclaimed brilliant thoughts texted to myself eventually broke. It was time to learn to use a set of tools that would allow me to turn these ideas into reality and into viable products. So I became a web developer.</p>

				<p>Web development has been a blender of sorts for me. I take one part passion for science, toss in many years of business management and experience, mix in music production, and sprinkle some technical stock trading, creative lighting photography, and love for video games for taste. Combining these ingredients makes for some uniquely interesting apps and products. That makes me happy.</p> 

				<p>Well, enough about me. Send me an email and tell me about you. 
				</p>
				</div>
			</div>
		</div>
		
		<div class="projects-content">
			<div class="portfolio-click"><h1 class="heading-text portfolio-text">Portfolio</h1><span class="heading-text portfolio-text hidden-select">(Select a category)</span></div>
			<div class="projects-content-sub">

				<!-- projects reveal -->
				<ul class="tabs" id="projects-tabs" data-tab role="tablist">
				  <h1 class="heading-text med-text" role="presentational" ><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1"><span id="activated1">Web Development</span></a><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1"><span id="small-activated1">Web Dev</span></a></a></h1>
				  <h1 class="heading-text med-text"> | </h1>
				  <h1 class="heading-text med-text" role="presentational" ><a href="#panel2-2" role="tab" tabindex="0"aria-selected="false" controls="panel2-2"><span id="activated2">Creative & Design</span></a></h1>
				  <h1 class="heading-text med-text"> | </h1>
				  <h1 class="heading-text med-text" role="presentational"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" controls="panel2-3"><span id="activated3">Photography</span></a></h1>
				</ul>

				<div class="photography-loading"></div>

				<div class="tabs-content">
					<!-- web development projects -->
				  <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
				    <a href="http://alemail.herokuapp.com">
							<div class="project-grid">
							<div class="proj-box">
								<div class="proj-1"></div>
								<div class="proj-descript"><h5>Ale Mail</h5>
									<p>Notification app that allows bars to easily alert customers when their favorite beer is back on tap</p>
								</div>
							</div>
						</a>
						<a href="http://homestreethome.herokuapp.com">
							<div class="proj-right">
								<div class="proj-2"></div>
								<div class="proj-descript"><h5>HomeStreetHome</h5>
									<p>Crowdfunding platform for the residentially displaced who need assistance purchasing basic necessities</p>
								</div>
							</div>
						</a>
						<a href="http://tapp-data.herokuapp.com">
							<div class="proj-box">
								<div class="proj-3"></div>
								<div class="proj-descript"><h5>TappData</h5>
									<p>Gives users of the app, Untappd, personalized data analytics and visualizations</p>
								</div>
							</div>
						</a>
						<a href="http://tictactoe3001.herokuapp.com">
							<div class="proj-right">
								<div class="proj-4"></div>
								<div class="proj-descript"><h5>TicTacToe3001</h5>
									<p>A game timer, player shot clocks, a board that shifts! Critics are calling it the Shawshank Redemption of tic tac toe</p>
								</div>
							</div>
						</a>
				  </section>

				  <!-- creative projects -->
				  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
		
				   		<div class="project-grid">
							<div class="proj-creative-box">
								<div class="proj-5"></div>
								<div class="proj-descript"><h5>Disney Challenge</h5><h6>Client: Gold Guys</h6>
									<p>Reimagined old school fight poster for the Disneyland Challenge</p>
								</div>
							</div>
							
							<div class="proj-creative-box-right">
								<div class="proj-6"></div>
								<div class="proj-descript"><h5>Yelp Postcards</h5><h6>Client: Gold Guys</h6>
									<p>Handout postcards designed with new company color scheme. Implemented QR codes for quick and easy web linking</p>
								</div>
							</div>
							</div>
					</section>

					<!-- photography projects -->
				  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
				  	<div class="photo-grid">			  		
				  		<div class="photobox pic1"></div>
				 			<div class="photobox pic2"></div>
				 			<div class="photobox pic3"></div>
				 			<div class="photobox pic4"></div>
				 			<div class="photobox pic5"></div>
				 			<div class="photobox pic6"></div>
				 			<div class="photobox pic7"></div>
				 			<div class="photobox pic8"></div>
				 			<div class="photobox pic9"></div>
				 			<div class="photobox pic10"></div>
				 			<div class="wide-photobox pic11"></div>
				 		</div>
				  </section>

				</div>
		
		</div>

	</div>
	</div>

		<!-- smaller devices no nav, div title selectors -->
		<div class="hide-when-large">
			<div class="resume-content resume-click">
				<h1 class="heading-text small-resume-text">
					<a href="#" data-reveal-id="myModal" class="resume-click"><span id="small-menu-text">Resume</span></a>
				</h1>
				<div id="myModal" class="reveal-modal medium" data-reveal>
					<div class="my-resume"></div>
				</div>
			</div>

			<div class="resume-content skills-click">
				<h1 class="heading-text nav-styling skills"><a>Skills</a></h1>
			</div>

			<div class="resume-content">
				<h1 class="heading-text nav-styling nav-styling contact-animate">
					<a href="#" data-reveal-id="contactModal" class= "contact-click">Contact Me</a>
				</h1>
				<div id="contactModal" class="reveal-modal medium contact-modal" data-reveal>
					<%= render template: "users/new" %>
				</div>
   		</div>
   	</div>

</div>

