<div class="body-container">
	<div class="row">
		<div class="main-content">
			<h1 class="heading-text about-me-text">Summary Content</h1>
			<div class="main-content-sub">
				<p>Lorem ipsum dolor sit amet, no meis elitr omnes eos, in his agam purto lorem. Id facete menandri theophrastus per, cu dicant soleat gloriatur pro. Cu eam natum nusquam vituperata, qui ea labore malorum. Sit in modus consul molestiae, an mea utinam interesset signiferumque.

				Placerat oporteat iudicabit has no, his at animal adolescens vituperata, sea ex alia dicunt deterruisset. Mutat laudem imperdiet eu sit, ut eos solum praesent neglegentur. Et dolore scripta dissentias eos, magna legimus ne his, vis quem decore in. Cum velit putant at, in has dicit posidonium, malorum fastidii complectitur te usu. Assum sententiae voluptatibus cum eu.
				</p>
			</div>
		</div>
		<div class="projects-content">
			<h1 class="heading-text portfolio-text">Projects</h1>
			<div class="projects-content-sub">

			<div class="project-grid">
				<div class="proj-box">
					<div class="proj-1"></div>
					<div class="proj-descript"><h5>Ale Mail</h5>
						<p>Notification app that allows bars to easily alert customers when their favorite beer is back on tap</p>
					</div>
				</div>
				<div class="proj-right">
					<div class="proj-2"></div>
					<div class="proj-descript"><h5>HomeStreetHome</h5>
						<p>Crowdfunding platform for the residentially displaced who need assistance purchasing basic necessities</p>
					</div>
				</div>

				<div class="proj-box">
					<div class="proj-3"></div>
					<div class="proj-descript"><h5>TappData</h5>
						<p>Gives users of the app, Untappd, personalized data analytics and visualizations</p>
					</div>

				</div>
				<div class="proj-right">
					<div class="proj-4"></div>
					<div class="proj-descript">
					<h5>TicTacToe3001</h5>
						<p>A game timer, player shot clocks, a board that shifts! Critics are calling it the Shawshank Redemption of tic tac toe</p></div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

