<div class="footer-container">
	<div class="headache">Headache inducing?<span class="migrane">scroll at your own pace or check the resume for a boring list</span></div>

		<ul class="tabs" id="projects-tabs" data-tab role="tablist">
			<li id="skills-heading">$$$</li>
		  <li id="skills-heading" role="presentational" ><a href="#panel3-1" role="tab" tabindex="0" aria-selected="true" controls="panel3-1"><span id="ticker-title1">Programming</span></a></li>

		  <li id="skills-heading"><span id="skill-select">< -- select -- ></span></li>

		  <li class=""id="skills-heading" role="presentational" ><a href="#panel3-2" role="tab" tabindex="0"aria-selected="false" controls="panel3-2"><span id="ticker-title2">Software/Technical</span><a href="#panel3-2" role="tab" tabindex="0"aria-selected="false" controls="panel3-2"><span id="small-ticker-title2">Software</span></a></a></li>
		  <li id="skills-heading">$$$</li>
		</ul>

		<div class="tabs-content">

		  <section role="tabpanel" aria-hidden="false" class="content active" id="panel3-1">   
				<div class="skills-container">
					<div class="skills-bar">
						<div class="skills-body-top">
							<span class="stock">HTML5</span>
								<span class="ticker">+80.22</span>
							<span class="stock">CSS3</span>
								<span class="ticker">89.90</span>
							<span class="stock">PostgreSQL</span>
								<span class="ticker">-60.33</span>
							<span class="stock">MongoDB</span>
								<span class="ticker">+42.99</span>
							<span class="stock">API Integration</span>
								<span class="ticker">65.12</span>
							<span class="stock">Git/Github</span>
								<span class="ticker">-44.76</span>
							<span class="stock">JavaScript</span>
								<span class="ticker">-58.89</span>
							<span class="stock">Ruby on Rails</span>
								<span class="ticker">+70.95</span>
							<span class="stock">AngularJS</span>
								<span class="ticker">40.42</span>
							<span class="stock">jQuery</span>
								<span class="ticker">-55.10</span>
							<span class="stock">Heroku</span>
								<span class="ticker">+70.11</span>
								<span class="stock"></span>
								<span class="ticker"></span>
							<!-- second time through and stop -->
							<span id="ticker-repeat">Ticker Repeat --></span>
							<span class="stock">HTML5</span>
								<span class="ticker">-80.22</span>
							<span class="stock">CSS3</span>
								<span class="ticker">+89.90</span>
							<span class="stock">PostgreSQL</span>
								<span class="ticker">60.33</span>
							<span class="stock">MongoDB</span>
								<span class="ticker">-42.99</span>
							<span class="stock">API Integration</span>
								<span class="ticker">+65.12</span>
							<span class="stock">Git/Github</span>
								<span class="ticker">44.76</span>
							<span class="stock">JavaScript</span>
								<span class="ticker">58.89</span>
							<span class="stock">Ruby on Rails</span>
								<span class="ticker">-70.95</span>
							<span class="stock">AngularJS</span>
								<span class="ticker">+40.42</span>
							<span class="stock">jQuery</span>
								<span class="ticker">55.10</span>
							<span class="stock">Heroku</span>
								<span class="ticker">-70.11</span>
							<span id="ticker-repeat"><--Ticker End</span>
						</div>
					</div>
				</div>
			</section>

		  <section role="tabpanel" aria-hidden="true" class="content" id="panel3-2">  
		    <div class="skills-container">
					<div class="software-skills-bar">		
						<div class="software-skills">
							<span class="stock">Photoshop</span>
								<span class="ticker">-58.89</span>
							<span class="stock">Illustrator</span>
								<span class="ticker">+70.95</span>
							<span class="stock">Lightroom</span>
								<span class="ticker">40.42</span>
							<span class="stock">Moqups</span>
								<span class="ticker">-55.10</span>
							<span class="stock">ProTools</span>
								<span class="ticker">+80.22</span>
							<span class="stock">Cubase</span>
								<span class="ticker">89.90</span>
							<span class="stock">Logic Pro</span>
								<span class="ticker">60.33</span>
							<span class="stock">Propellerhead Reason</span>
								<span class="ticker">-42.99</span>
							<span class="stock">Toon Boon Animate</span>
								<span class="ticker">+65.12</span>
							<span class="stock">Quickbooks</span>
								<span class="ticker">44.76</span>
							<span class="stock">TC2000</span>
								<span class="ticker">70.11</span>
								<span class="stock"></span>
								<span class="ticker"></span>
							<!-- second time through and stop -->
							<span id="ticker-repeat">Ticker Repeat --></span>
							<span class="stock">Photoshop</span>
								<span class="ticker">-58.89</span>
							<span class="stock">Illustrator</span>
								<span class="ticker">+70.95</span>
							<span class="stock">Lightroom</span>
								<span class="ticker">40.42</span>
							<span class="stock">Moqups</span>
								<span class="ticker">-55.10</span>
							<span class="stock">ProTools</span>
								<span class="ticker">+80.22</span>
							<span class="stock">Cubase</span>
								<span class="ticker">89.90</span>
							<span class="stock">Logic Pro</span>
								<span class="ticker">60.33</span>
							<span class="stock">Propellerhead Reason</span>
								<span class="ticker">-42.99</span>
							<span class="stock">Toon Boon Animate</span>
								<span class="ticker">+65.12</span>
							<span class="stock">Quickbooks</span>
								<span class="ticker">44.76</span>
							<span class="stock">TC2000</span>
								<span class="ticker">70.11</span>
								<span class="stock"></span>
								<span class="ticker"></span>
							<span id="ticker-repeat"><--Ticker End</span>
						</div>
					</div>
				</div>
		  </section>

		</div>
</div>

<div class="made-by"><h4 class="footer-text">Made by Anthony Corrado with a lot of jQuery love<span class="spacebar">- 2014</span></div>