<div class="notice-container"><h4 id="notice"><%= notice %></h4></div>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><a href="/"><h1 id="title-text">
      <span id="first-initial"><span class='red1'>A</span></span><span id="first-name"><span class='red2'>n</span><span class='red3'>t</span><span class='red4'>h</span><span class='red5'>o</span><span class='red6'>n</span><span class='red7'>y</span></span><span class='red8'><span id="last-initial">C</span></span><span id="last-name"><span class='red9'>o</span><span class='red10'>r</span><span class='red11'>r</span><span class='red12'>a</span><span class='red13'>d</span><span class='red14'>o</span></span></span></h1><a>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
  <ul class="right">
    <ul class="dropdown">
      <li><a href="#">First link in dropdown</a></li>
    </ul>
  </ul>

  <!-- Left Nav Section -->

    <!-- <ul class="right">
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>
 -->
  <div class="menu-border">
  <ul class="right">
    <li class="nav-styling about-me port-text-header"><a>About Me</a></li>
    <li class="nav-styling portfolio"><a>Portfolio</a></li>

    <li class="nav-styling"><a href="#" data-reveal-id="myModal">Resume</a></li>
    <div id="myModal" class="reveal-modal medium" data-reveal>
      <div class="resume-loading"></div>
      <div class="my-resume-top"></div>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <li class="nav-styling skills skills-click"><a>Skills</a></li>

    <li class="nav-styling contact-animate"><a href="#" data-reveal-id="contactModal">Contact Me</a></li>
      <div id="contactModal" class="reveal-modal reveal-modal2 medium contact-modal" data-reveal>
        <%= render template: "users/new" %>
      <a class="close-reveal-modal">&#215;</a>
      </div>
  </ul>
  </div>
  </section>

</nav>
